<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill tree</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <h1 class="title"><strong>Skill</strong> tree.</h1>
            <div class="nav">
                <ul>
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li>
                        <a class="active" href="./les-competences.html">Les compétences</a>
                    </li>
                    <li>
                        <a href="./la-promotion.html">La promotion</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="#skills">

    </div>
</body>
<script type="module" src="../js/skills.js"></script>

</html>